<ion-view view-title="{{title| date:'hh:mm:ss a'}}">
  <ion-content>
    <h1>Alarm</h1>

    <form name="myForm" ng-submit="saveEditInfo()" novalidate>
      <div class="container">
        
      <div class="row custrow">
              <div class="col-md-12">
              <h2>{{headingone}}</h2>
              <select name="cars" multiple>
                <option value="switchone">Switch One</option>
                <option value="switchtwo">Switch Two</option>
                <option value="switchthree">Switch Three</option>
                <option value="switchfour">Switch Four</option>
                <option value="switchfive">Switch Five</option>
                <option value="switchsix">Switch Six</option>
                <option value="switchseven">Switch Seven</option>
                <option value="switcheight">Switch Eight</option>
              </select>  
                <div class="select-style">
              <select>
                <option value="hh">hh</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
              </select>
            </div>
            
            <div class="select-style sukh-select">
              <select>
                <option value="mm">mm</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
                <option value="32">32</option>
                <option value="33">33</option>
                <option value="34">34</option>
                <option value="35">35</option>
                <option value="36">36</option>
                <option value="37">37</option>
                <option value="38">38</option>
                <option value="39">39</option>
                <option value="40">40</option>
                <option value="41">41</option>
                <option value="42">42</option>
                <option value="43">43</option>
                <option value="44">44</option>
                <option value="45">45</option>
                <option value="46">46</option>
                <option value="47">47</option>
                <option value="48">48</option>
                <option value="49">49</option>
                <option value="50">50</option>
                <option value="51">51</option>
                <option value="52">52</option>
                <option value="53">53</option>
                <option value="54">54</option>
                <option value="55">55</option>
                <option value="56">56</option>
                <option value="57">57</option>
                <option value="58">58</option>
                <option value="59">59</option>
                <option value="60">60</option>

              </select>
            </div>

            <div class="select-style sukh-select-next">
              <select>
                <option value="ON">ON</option>
                <option value="OFF">OFF</option>
                
              </select>
            </div>
                  <button type="button" ng-click="switchOn(1)" class="btn btn-labeled btn-success">
                      <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>SET</button>
                  <button type="button" ng-click="switchOff(1)" class="btn btn-labeled btn-danger">
                      <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>UNSET</button>
              </div>
      </div>
      </div>
      <style type="text/css">
      .select-style {
          border: 1px solid #ccc;
          width: 53px;
          border-radius: 3px;
          overflow: hidden;
          background: #fafafa url("img/arrow.png") no-repeat 90% 50%;
      }

      .select-style select {
          padding: 5px 8px;
          width: 130%;
          border: none;
          box-shadow: none;
          background: transparent;
          background-image: none;
          -webkit-appearance: none;
      }

      .select-style select:focus {
          outline: none;
      }
      .select-style.sukh-select{
        margin-top: -33px;
        margin-left: 68px;
        margin-bottom: 15px; 
      }

      .select-style.sukh-select-next{
        margin-top: -47px;
        margin-left: 133px;
        margin-bottom: 15px; 
      }

      select[multiple], select[size] {
          height: 250px;
          margin-bottom: 10px;
          font-size: 20px;
      }
      
    </style>
    </form>
  </ion-content>
</ion-view>
