<ion-view view-title="{{title| date:'hh:mm:ss a'}}">
  <ion-content>
    <ion-list>
      <!-- <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->
      <div class="container"  >
			<!-- <div class="row custrow">
			        <div class="col-md-12">
			        	<h2>Reset{{checks}}</h2>
			        	<span onclick="gotoeditinfo()">Edit</span>
			            <button type="button" ng-click="switchReset()" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>Reset</button>
			            
			        </div>
			</div> -->
			<div class="row custrow">
			        <div class="col-md-12">
			        	<h2>{{headingone}}</h2>
			            <button type="button" ng-click="switchOn(1)" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>No</button>
			            <button type="button" ng-click="switchOff(1)" class="btn btn-labeled btn-danger">
			                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Off</button>
			        </div>
			</div>
			<div class="row custrow">
			        <div class="col-md-12">
			        	<h2>{{headingtwo}}</h2>
			            <button type="button" ng-click="switchOn(2)" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>No</button>
			            <button type="button" ng-click="switchOff(2)" class="btn btn-labeled btn-danger">
			                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Off</button>
			        </div>
			</div>
			<div class="row custrow">
			        <div class="col-md-12">
			        	<h2>{{headingthree}}</h2>
			            <button type="button" ng-click="switchOn(3)" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>No</button>
			            <button type="button" ng-click="switchOff(3)" class="btn btn-labeled btn-danger">
			                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Off</button>
			        </div>
			</div>
			<div class="row custrow">
			        <div class="col-md-12">
			        	<h2>{{headingfour}}</h2>
			            <button type="button" ng-click="switchOn(4)" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>No</button>
			            <button type="button" ng-click="switchOff(4)" class="btn btn-labeled btn-danger">
			                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Off</button>
			        </div>
			</div>
			<div class="row custrow">
			        <div class="col-md-12">
			        	<h2>{{headingfive}}</h2>
			            <button type="button" ng-click="switchOn(5)" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>No</button>
			            <button type="button" ng-click="switchOff(5)" class="btn btn-labeled btn-danger">
			                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Off</button>
			        </div>
			</div>
			<div class="row custrow">
			        <div class="col-md-12">
			        	<h2>{{headingsix}}</h2>
			            <button type="button" ng-click="switchOn(6)" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>No</button>
			            <button type="button" ng-click="switchOff(6)" class="btn btn-labeled btn-danger">
			                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Off</button>
			        </div>
			</div>
			<div class="row custrow">
			        <div class="col-md-12">
			        	<h2>{{headingseven}}</h2>
			            <button type="button" ng-click="switchOn(7)" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>No</button>
			            <button type="button" ng-click="switchOff(7)" class="btn btn-labeled btn-danger">
			                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Off</button>
			        </div>
			</div>
			<div class="row custrow">
			        <div class="col-md-12">
			        	<h2>{{headingeight}}</h2>
			            <button type="button" ng-click="switchOn(8)" class="btn btn-labeled btn-success">
			                <span class="btn-label"><i class="glyphicon glyphicon-ok"></i></span>No</button>
			            <button type="button" ng-click="switchOff(8)" class="btn btn-labeled btn-danger">
			                <span class="btn-label"><i class="glyphicon glyphicon-remove"></i></span>Off</button>
			        </div>
			</div>
		</div>
		
    </ion-list>
  </ion-content>
</ion-view>
